.calculationBlock{
    width: 350px;
    border: 2px solid salmon;
    position: absolute;
    right: 20px;
    top: 20px;
}
.someCalculation{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.someCalculation-text{
    margin-left: 10px;
    font-size: 18px;
}