.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ocean {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
}
.oceanUseable{
  
  width: 100%;
  height: 50px;
  background-color: #4693db;
  overflow: hidden;
}
.oceanUnUseable{
  
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(90deg, #005ea8,#4693db);
  overflow: hidden;
}